@model MyMvcApp.Models.Character
@{
    ViewData["Title"] = "Design Your Character";
}

<h2>Create/Edit Character</h2>

<form asp-action="Create" method="post">
    <div class="avatar-preview" style="position: relative; width: 400px; height: 400px; margin: 2rem auto 3rem auto;"> @* Added 3rem bottom margin *@
        <img src="~/images/base.png" alt="Base" style="position:absolute; width:100%; height:100%;" />
        <img id="hair" src="~/images/hair/@Model.Hair" alt="Hair" style="position:absolute; width:100%; height:100%;" />
        <img id="face" src="~/images/faces/@Model.Face" alt="Face" style="position:absolute; width:100%; height:100%;" />
        <img id="clothing" src="~/images/clothes/@Model.Clothing" alt="Clothing" style="position:absolute; width:100%; height:100%;" />
        <input type="hidden" id="hairInput" name="Hair" value="@Model.Hair" />
        <input type="hidden" id="faceInput" name="Face" value="@Model.Face" />
        <input type="hidden" id="clothingInput" name="Clothing" value="@Model.Clothing" />
    </div>

    @* START: New layout for buttons *@
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-auto"> @* Hair Control *@
                <div class="form-group text-center mb-3">
                    <label>Hair</label><br/>
                    <button type="button" class="btn btn-secondary prev" data-target="hair">Prev</button>
                    <button type="button" class="btn btn-secondary next" data-target="hair">Next</button>
                </div>
            </div>
            <div class="col-auto"> @* Face Control *@
                <div class="form-group text-center mb-3">
                    <label>Face</label><br/>
                    <button type="button" class="btn btn-secondary prev" data-target="face">Prev</button>
                    <button type="button" class="btn btn-secondary next" data-target="face">Next</button>
                </div>
            </div>
            <div class="col-auto"> @* Clothing Control *@
                <div class="form-group text-center mb-3">
                    <label>Clothing</label><br/>
                    <button type="button" class="btn btn-secondary prev" data-target="clothing">Prev</button>
                    <button type="button" class="btn btn-secondary next" data-target="clothing">Next</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Save Character</button>
            </div>
        </div>
    </div>
    @* END: New layout for buttons *@
</form>

@section Scripts {
    <script src="~/js/CharacterCreator.js"></script>
}